*{
  margin: 0px;
}

body{
  background-color: #f3f6fa;
  padding: 10px;
}

.App{
  display: flex;
  justify-content: space-evenly;
}

.app_title{
  color: #CC1034;
}

.app_left{
  flex: 0.9;
}

.app_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.country_select{
  background-color: white;
  border:1px solid gray;
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
}

.app_status{
  display: flex;
  justify-content: space-between;
}

.app_right{
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.app_graph{
  flex-grow: 1;
}

.map_component{
  margin-top: 20px;
}

@media screen and (max-width:990px){
  .App{
    flex-direction: column;
  }

  .app_right{
    margin-top: 15px;
  }

  .country_select{
    width: 150px;
  }

  .app_title{
    font-size: 25px;
  }
}